<div>
<div style="padding-left:62px;"> 
    <button type="button" class="btn btn-lg btn-info btn-primary" [class.active]="filterBy =='all'" (click)="filterBy ='all'">All</button>
    <button type="button" class="btn btn-lg btn-info btn-primary" [class.active]="filterBy =='boats'" (click)="filterBy ='boats'">Boats</button>
    <button type="button" class="btn btn-lg btn-info btn-primary" [class.active]="filterBy =='camping'" (click)="filterBy ='camping'">Camping</button>
    <button type="button" class="btn btn-lg btn-info btn-primary" [class.active]="filterBy =='library'" (click)="filterBy ='library'">Library</button>
    </div>
  
<div class="row">
    <ul id="thumbnailsList" >
        
        <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
            <a [routerLink]="['/image', image.id]" >
            <img src="{{image.url}}" class="tn" width="200px" height="160px"/>
        </a>
        </li>
    </ul>
</div>
</div>
